
resource "aws_instance" "{{.instance_name}}" {
  ami           = data.aws_ami.ubuntu.id
  instance_type = var.instance_type # t3.micro
  subnet_id     = var.subnet_id
  security_groups = [aws_security_group.my_sg.id]
  availability_zone = var.availability_zone
  associate_public_ip_address = true
  key_name  = aws_key_pair.ssh-key.key_name
  test = "{{.test}}"

  user_data = file("{{.instance_name}}-script.sh")

  tags = {
    Name = "${var.name}-instance"
  }
}

resource "aws_key_pair" "ssh-key" {
  key_name = "{{.instance_name}}-key"
  public_key = file(var.public_key)

}

resource "aws_security_group" "my_sg" {
  name        = "allow_tls"
  description = "Allow TLS inbound traffic"
  vpc_id      = aws_vpc.main.id

  ingress = [
    {
      description      = ""
      from_port        = 0
      to_port          = 0
      protocol         = "-1"
      cidr_blocks      = ["0.0.0.0/0"]
      ipv6_cidr_blocks = ["::/0"]
    }
  ]

  egress = [
    {
      description      = ""
      from_port        = 0
      to_port          = 0
      protocol         = "-1"
      cidr_blocks      = ["0.0.0.0/0"]
      ipv6_cidr_blocks = ["::/0"]
    }
  ]

}